@font-face {
  font-family: "DOSSaemmul";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSSaemmul.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "YoonChildfundkoreaManSeh";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/YoonChildfundkoreaManSeh.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "YoonChildfundkoreaManSeh";
  background-color: rgb(255, 240, 221);
}

button {
  font-family: "YoonChildfundkoreaManSeh";
}

.wrapper {
  width: 300px;
  margin: 30px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: url("/img/profile.png") center / cover;
}

.main {
  color: rgb(90, 75, 56);
  font-size: 1.5em;
}

.sub {
  font-size: 1.2em;
  margin: 0px 0px 30px 0px;
  background: linear-gradient(
    90deg,
    rgb(255, 209, 215) 15%,
    rgb(140, 231, 196) 35%,
    rgb(255, 209, 215) 50%,
    rgb(140, 231, 196) 85%,
    rgb(255, 209, 215)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200% 100%;
  animation: gradient 3.5s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}

.wrapper > a {
  text-decoration: none;
  width: 300px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.506);
  color: rgb(90, 75, 56);
  box-shadow: 0px 4px 16px rgba(232, 52, 78, 0.2);
  border-radius: 8px;
  border: 1px solid transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.3em;
  margin-bottom: 20px;
  transition: all 0.8s;
}

.wrapper > a:hover {
  border: 1px solid rgb(236, 200, 153);
}

/* 버튼 스타일 추가 */
#copy-button {
  width: 300px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.506);
  color: rgb(90, 75, 56);
  box-shadow: 0px 4px 16px rgba(232, 52, 78, 0.2);
  border-radius: 8px;
  border: 1px solid transparent;
  letter-spacing: 0.3em;
  margin-bottom: 20px;
  transition: all 0.8s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#copy-button:hover {
  border: 1px solid rgb(236, 200, 153);
}
